[merge]
	tool = opendiff
[mergetool "opendiff"]
	trustExitCode = true
[core]
	excludesFile = ~/.gitignore
	editor = vim
[user]
	name = Andrew Pham
	email = 62633701+andrew-theturtle@users.noreply.github.com
[init]
	defaultBranch = main
[alias]
    undo = reset --soft HEAD^
