[merge]
	tool = opendiff
[mergetool "opendiff"]
	trustExitCode = true
[core]
	excludesfile = /Users/andrew/.gitignore
[user]
	name = Andrew Pham
	email = 62633701+andrew-theturtle@users.noreply.github.com
[init]
	defaultBranch = main
